$color-white: #ffffff;
$color-primary: #00529a;
$color-green-light: #006e8c;
$color-column: #e8e8e8;
$color-text: #4c4c4c;
$color-text-dark: #2a2a2a;
$color-list: #6c6c6c;

$size-base-font: 18px;

$mobile-width: 767px;
$tablet-width: 989px;
$desktop-width: 1489px;
$full-hd: 1920px;

$font-family: 'IBM-Plex-Sans', sans-serif;

$spacing-sm: 23px;
$spacing-md: 46px;
$spacing-lg: 69px;
$spacing-xl: 92px;
$spacing-xxl: 150px;

@mixin base-width {

    max-width: $full-hd;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 1920px){
        & {
            margin-left: $spacing-xxl;
            margin-right: $spacing-xxl;
            margin-bottom: 60px;
        }
    }
    @media only screen and (max-width: 1300px) {
        & {
            margin-left: $spacing-xxl;
            margin-right: $spacing-xxl;
        }
    }
    @media only screen and (max-width: 1100px) {
        & {
            margin-left: $spacing-lg;
            margin-right: $spacing-lg;
        }
    }
    @media only screen and (max-width: 767px) {
        & {
            margin-left: $spacing-sm;
            margin-right: $spacing-sm;
            margin-bottom: $spacing-md;
        }
    }
}
